body {
	background-color: black;
}

#container {
	width: 1000px;
    margin: 0 auto;
    font-family: verdana;
}

#mainData {
	background-color: silver;
}

 .section {
	border-radius: 4px;
	padding: 3px;
}

table td 
{
	min-width:100px;
}


#gantt {
	background-color: lightgray;
	margin: 5px;
}

.section h1 {
	padding: 5px;
	text-align: center;
}

.subsection h1 {
	padding:3px;
	font-size: ;
}

#gantt .chartContent {
	min-height: 100px;
	width: 780px;

}

.ganttSide, #gantt div.chartContent {
	display: inline-block;
}

.ganttSide div {
	padding: 10px;
	margin:5px;
	font-size: 14pt;
}

path.line
{
    fill: none;
    stroke: #000;
}

svg {
	
}

/** Time Scale ***/

.timeAxis path,
.timeAxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.timeAxis text {
	font-size: 10px;
}

.timeAxis .tick:hover {
	cursor: pointer;
}

.timeScale {
	margin-left: 80px;
	/*width: 100%;*/
}

/*.tickLabel {
	text-anchor: start !important;
}*/

.subsection {
	/*background-color: blue;*/
	width: 900px;
}

.subsection .dayChart {
	background-color: ghostwhite;
	margin: 2px;
	margin-top: 0px;
	border-radius: 3px;	
	width: 900px;
}

.chartDayArea {
	width:800px;
}

/*** Heart Rate charts ***/
#heartRate {
	display: none;
}

.subsection .scale {
	background-color: ghostwhite;
	width: 100%;
}

/*.heartrate {
	background-color: ghostwhite;
	margin: 2px;
	border-radius: 3px;	
	
}*/

.subsection div {
	display: inline-block;
	vertical-align: top;
}

.chartDayHeader {
	min-width: 80px;
	vertical-align: middle;
	text-align: center;
}

.chartDayHeader h2 {
	margin: 2px;
}

.chartDayHeader span {
	font-size: 10pt;

}

/*.chartDayArea svg {
	fill: black;
}*/

.heartAnomaly {
	opacity: 0.15;
}
