body {
	/*background-color: black;*/
	font-size: 12px;
}

#container {
	width: 1000px;
    margin: 0 auto;
    font-family: verdana;
}

#mainData {
	background-color: white;
}

.section table {
	margin: 0;
	padding: 0;
}

thead td {
	padding-right: 5px;
	padding-bottom: 3px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000;
}

tbody td {

}

.section {
	border-radius: 4px;
	/*padding: 3px;*/
	background-color: white;
}

table td 
{
	min-width:100px;
}

#loading {
	width: 700px;
	padding: 100px;
}

.spinner {
   height:60px;
   width:60px;
   margin:0px auto;
   position:relative;
   -webkit-animation: rotation .7s infinite linear;
   -moz-animation: rotation .7s infinite linear;
   -o-animation: rotation .7s infinite linear;
   animation: rotation .7s infinite linear;
   border-left:4px solid rgba(119,119,119,.15);
   border-right:4px solid rgba(119,119,119,.15);
   border-bottom:4px solid rgba(119,119,119,.15);
   border-top:4px solid rgba(119,119,119,.8);
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}


#gantt {
	display: none;
	/*background-color: lightgray;*/
	/*margin: 5px;*/
}

#settings {
	display: none;
}

.ganttDay {
	display: inline-block;
	padding: 0px;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	text-align: center;
}

.ganttDay h3 {
	border-bottom: solid 1px gray;
}

/*.ganttDay:nth-child(1) {
	background-color: lightgray;
}*/

.ganttDay .measure {
	padding-top: 15px;
	padding-bottom: 15px;
	width:80px;
}

.ganttDay .timeblock {
	width:10px;
	height:20px;
	margin: 1px;
	background-color: gray;
	display: inline-block;
}


.section h1 {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.section h2 {
	margin-top: 30px;
	font-size: 16px;
}

.subsection h1 {
	padding:3px;
}

#gantt .chartContent {
	min-height: 100px;
	/*width: 780px;*/
	vertical-align: top;

}

#gantt svg text:hover {
	cursor: pointer;
}

.ganttSide, #gantt div.chartContent {
	display: inline-block;
}

.ganttSide {
	/*margin-top: 35px;*/
}

.ganttSide .measurement {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	margin-right:5px;
	margin-bottom: 2px;
	margin-top: 8px;
	border-radius: 5px;
}
.ganttSide .measurement:hover {
	cursor: pointer;
	/*background-color: whitesmoke;*/
}

.measurement.active {
	background-color: whitesmoke;
}

.gantt .dayHeader {
	color: black;
	font-family: helvetica;
}

path.line
{
    fill: none;
    stroke: #999;
}

path.lineZoom
{
    fill: none;
    stroke: #000;
}

/*.rectZoom {
	opacity: 0.5;
	fill: #CCC;
}*/

svg {
	
}
textarea {width: 300px; height:100px;}
fieldset { padding:0; border:0; margin-top:25px; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
label, input { display:block; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; display: none;}
.ui-state-highlight { display: block; }

#dialog {
	display: none;
}

#rightSideGantt {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.dayMenu {
	text-align: right;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 4px;
}

.dayMenu a {
	text-decoration: none;
	background-color: whitesmoke;
	width: 20px;
	padding: 3px;
	border: thin solid lightgray;
	border-radius: 3px;
	color: gray;
}

.dayMenu a:hover {
	background-color: lightgray;	
}

/** Overall Breakdown details **/

#breakdownHeader h3 {
	margin-top:30px;
	margin-bottom: 20px;
}

#changeIntervalSection {
	display: none;
}

/** Time Scale ***/

.timeAxis path,
.timeAxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.timeAxis text {
	font-size: 10px;
}

.timeAxis .tick:hover {
	cursor: pointer;
}

.axisBar path,
.axisBar line {
	fill: none;
	stroke: #888;
	shape-rendering: crispEdges;
}

.timeScale {
	margin-left: 40px;
	/*width: 100%;*/
}

/*.tickLabel {
	text-anchor: start !important;
}*/

.dayViewLabel, .axisBar text {
	font-family: sans-serif;
	font-size: 8px;
}

.subsection {
	/*background-color: blue;*/
	width: 900px;
	margin:3px;
}

.subsection .dayChart {
	/*background-color: white;*/
	margin: 2px;
	/*margin-top: 0px;*/
	border-radius: 2px;	
	width: 900px;
	height: 120px;
}

.chartDayArea {
	width:800px;
}

/*** Heart Rate charts ***/
#heartRate {
	display: none;
}

.subsection .scale {
	/*background-color: white;*/
	width: 100%;
}

/*.heartrate {
	background-color: ghostwhite;
	margin: 2px;
	border-radius: 3px;	
	
}*/

.subsection div {
	display: inline-block;
	vertical-align: top;
}

.chartDayHeader {
	min-width: 40px;
	text-align: left;
}

.chartDayHeader h2 {
	margin: 2px;
}

.chartDayHeader span {
	font-size: 10pt;

}

#gantt svg {
	background-color: #fff;
}
.chartDayArea svg, #gantt svg {
	border: thin solid lightgray;
	border-radius: 2px;
}

/*.chartDayArea svg {
	border-radius: 2px;
}*/

.heartAnomaly {
	opacity: 0.15;
}

/***** DAY VIEW ******/

#dayView div {
	height: auto;
	margin-bottom: 10px;
}

h3.dailyHeader {
	font-size: 11pt;
	padding-top: 20px;
}

#settings {
	margin-top: 15px;
	margin-bottom: 20px;
}

.cursorText {
	font-size: 10px;
	display: none;
}
