body {
	/*background-color: black;*/
	font-size: 12px;
	margin: 0px !important;
}

#container {
	width: 1260px;
    font-family: verdana;
}

#container-top {
	margin-left: 120px;
	margin-right: 120px;
}

#container-bottom {
	margin-left: 50px;
	margin-right: 65px;
}

#mainData {
	background-color: white;
}

.section table {
	margin: 0;
	padding: 0;
}

thead td {
	padding-right: 5px;
	padding-bottom: 3px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000;
}

tbody td {

}

.section {
	border-radius: 4px;
	/*padding: 3px;*/
	background-color: white;
}

table td 
{
	min-width:100px;
}

#loading {
	width: 700px;
	padding: 100px;
}

.spinner {
   height:60px;
   width:60px;
   margin:0px auto;
   position:relative;
   -webkit-animation: rotation .7s infinite linear;
   -moz-animation: rotation .7s infinite linear;
   -o-animation: rotation .7s infinite linear;
   animation: rotation .7s infinite linear;
   border-left:4px solid rgba(119,119,119,.15);
   border-right:4px solid rgba(119,119,119,.15);
   border-bottom:4px solid rgba(119,119,119,.15);
   border-top:4px solid rgba(119,119,119,.8);
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}


#gantt {
	display: none;
	/*background-color: lightgray;*/
	/*margin: 5px;*/
}

#settings {
	display: none;
}

.ganttDay {
	display: inline-block;
	padding: 0px;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	text-align: center;
}

.ganttDay h3 {
	border-bottom: solid 1px gray;
}

/*.ganttDay:nth-child(1) {
	background-color: lightgray;
}*/

.ganttDay .measure {
	padding-top: 15px;
	padding-bottom: 15px;
	width:80px;
}

.ganttDay .timeblock {
	width:10px;
	height:20px;
	margin: 1px;
	background-color: gray;
	display: inline-block;
}


.section h1 {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.section h2 {
	margin-top: 30px;
	font-size: 16px;
}

.subsection h1 {
	padding:3px;
}

#gantt .chartContent {
	min-height: 100px;
	/*width: 780px;*/
	vertical-align: top;

}

#gantt svg text:hover {
	cursor: pointer;
}

.ganttSide, #gantt div.chartContent {
	display: inline-block;
}

.ganttSide {
	width: 100px;
}

.measurement {
	padding: 5px;
	margin-right:5px;
	margin-bottom: 2px;
	margin-top: 8px;
}

#rightSideGantt .dayMenu {
	text-align: left !important;
}

.ganttSide .measurement {
	border-radius: 5px;
}
.ganttSide .measurement:hover {
	cursor: pointer;
	/*background-color: whitesmoke;*/
}

.measurement.active {
	background-color: whitesmoke;
}

.gantt .dayHeader {
	color: black;
	font-family: helvetica;
}

path.line
{
    fill: none;
    stroke: #999;
}

path.lineZoom
{
    fill: none;
    stroke: #000;
}

/*.rectZoom {
	opacity: 0.5;
	fill: #CCC;
}*/

svg {
	
}
textarea {width: 300px; height:100px;}
fieldset { padding:0; border:0; margin-top:25px; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
label, input { display:block; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; display: none;}
.ui-state-highlight { display: block; }

#dialog-notes, #dialog-settings {
	display: none;
}

#rightSideGantt {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.dayMenu {
	text-align: right;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 4px;
}

.measurement-container {
	margin-top: 7px;
}

.editSettings {
	color: gray !important;
	padding: 5px;
	padding-left: 10px;
	background-color: whitesmoke;
	background-image: url('/static/css/images/settings-icon.png');
	background-repeat: no-repeat;
	background-position: 4px center;
	border: thin solid lightgray;
	border-radius: 3px;
	text-decoration: none !important;
	display: block;
}



.dayMenu a {
	text-decoration: none;
	background-color: whitesmoke;
	width: 20px;
	padding: 3px;
	border: thin solid lightgray;
	border-radius: 3px;
	color: gray;
}

.dayMenu a:hover {
	background-color: lightgray;	
}

/** Overall Breakdown details **/

#breakdownHeader h3 {
	margin-top:30px;
	margin-bottom: 20px;
	margin-left: 70px;
}

#changeIntervalSection {
	display: none;
}

/** Time Scale ***/

.timeAxis path,
.timeAxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.timeAxis text {
	font-size: 10px;
}

.timeAxis .tick:hover {
	cursor: pointer;
}

.xAxisBar path,
.axisBar path,
.xAxisBar line,
.axisBar line {
	fill: none;
	stroke: #888;
	shape-rendering: crispEdges;
}

.timeScale {
	margin-left: 70px;
	/*width: 100%;*/
}

/*.tickLabel {
	text-anchor: start !important;
}*/

.dayViewLabel, .axisBar text, .xAxisBar text {
	font-family: sans-serif;
	font-size: 8px;
}

.subsection {
	/*background-color: blue;*/
	/*width: 900px;*/
	/*margin:3px;*/
}

.subsection .dayChart {
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 20px;
	border-radius: 2px;	
	/*width: 900px;*/
	/*height: 130px;*/
}

.chartDayArea {
	/*width:800px;*/
}

.subsection .scale {
	/*background-color: white;*/
	width: 100%;
}

.subsection div {
	display: inline-block;
	vertical-align: top;
}

.chartDayHeader {
	min-width: 70px;
	text-align: left;
}

.chartDayHeader h2 {
	margin: 2px;
}

.chartDayHeader span {
	font-size: 10pt;

}

#gantt svg {
	background-color: #fff;
}
#gantt svg {
	border: thin solid lightgray;
	border-radius: 2px;
}

.chartDayArea {
	border: thin solid lightgray;
	border-radius: 2px;
}

.lineChartZoom {
	border-bottom: thin solid lightgray;
}

.lineChartZoom, .lineChart {
	display: block;
}

.rectZoom {
	fill: #f3f3f3;
}

.anomaly {
	opacity: 0.15;
	pointer-events: none;
}

.activity {
	pointer-events: none;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
input[type=checkbox] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

/***** DAY VIEW ******/

#dayView div {
	height: auto;
	margin-bottom: 10px;
}

h3.dailyHeader {
	font-size: 11pt;
	padding-top: 20px;
}

#settings {
	margin-top: 15px;
	margin-bottom: 20px;
}

.cursorText {
	font-size: 10px;
	display: none;
}
