body {
	/*background-color: black;*/
}

#container {
	width: 1000px;
    margin: 0 auto;
    font-family: verdana;
}

#mainData {
	background-color: white;
}

.section {
	border-radius: 4px;
	/*padding: 3px;*/
	background-color: white;
}

table td 
{
	min-width:100px;
}


#gantt {
	/*background-color: lightgray;*/
	/*margin: 5px;*/
}

.ganttDay {
	display: inline-block;
	padding: 0px;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	text-align: center;
}

.ganttDay h3 {
	border-bottom: solid 1px gray;
}

/*.ganttDay:nth-child(1) {
	background-color: lightgray;
}*/

.ganttDay .measure {
	padding-top: 15px;
	padding-bottom: 15px;
	width:80px;
}

.ganttDay .timeblock {
	width:10px;
	height:20px;
	margin: 1px;
	background-color: gray;
	display: inline-block;
}


.section h1 {
	padding: 5px;
	text-align: center;
}

.subsection h1 {
	padding:3px;
	font-size: ;
}

#gantt .chartContent {
	min-height: 100px;
	/*width: 780px;*/
	vertical-align: top;

}

#gantt svg text:hover {
	cursor: pointer;
}

.ganttSide, #gantt div.chartContent {
	display: inline-block;
}

.ganttSide {
	/*margin-top: 35px;*/
}

.ganttSide .measurement {
	padding: 5px;
	margin:5px;
	font-size: 12pt;
	margin-bottom: 20px;
	margin-top: 17px;
	border-radius: 5px;
}
.ganttSide .measurement:hover {
	cursor: pointer;
	background-color: whitesmoke;
}

.gantt .dayHeader {
	color: black;
	font-size: 12;
	font-family: helvetica;
}

path.line
{
    fill: none;
    stroke: #000;
}

svg {
	
}

#rightSideGantt {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.dayMenu {
	text-align: right;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 4px;
}

.dayMenu a {
	text-decoration: none;
	background-color: whitesmoke;
	width: 20px;
	padding: 3px;
	border: thin solid lightgray;
	border-radius: 3px;
	color: gray;
}

.dayMenu a:hover {
	background-color: lightgray;	
}

/** Overall Breakdown details **/
#breakdownHeader {
	text-align: center;
}

#breakdownHeader h3 {
	text-align: center;
	margin:10px;
}


/** Time Scale ***/

.timeAxis path,
.timeAxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.timeAxis text {
	font-size: 10px;
}

.timeAxis .tick:hover {
	cursor: pointer;
}

.timeScale {
	margin-left: 80px;
	/*width: 100%;*/
}

/*.tickLabel {
	text-anchor: start !important;
}*/

.subsection {
	/*background-color: blue;*/
	width: 900px;
	margin:3px;
}

.subsection .dayChart {
	/*background-color: white;*/
	margin: 2px;
	/*margin-top: 0px;*/
	border-radius: 2px;	
	width: 900px;
	height: 50px;
}

.chartDayArea {
	width:800px;
}

/*** Heart Rate charts ***/
#heartRate {
	display: none;
}

.subsection .scale {
	/*background-color: white;*/
	width: 100%;
}

/*.heartrate {
	background-color: ghostwhite;
	margin: 2px;
	border-radius: 3px;	
	
}*/

.subsection div {
	display: inline-block;
	vertical-align: top;
}

.chartDayHeader {
	min-width: 80px;
	vertical-align: middle;
	text-align: center;
}

.chartDayHeader h2 {
	margin: 2px;
}

.chartDayHeader span {
	font-size: 10pt;

}

.chartDayArea svg, #gantt svg {
	background-color: whitesmoke;
	border: thin solid lightgray;
	border-radius: 2px;
}

/*.chartDayArea svg {
	border-radius: 2px;
}*/

.heartAnomaly {
	opacity: 0.15;
}

/***** DAY VIEW ******/

#dayView div {
	height: auto;
	margin-bottom: 10px;
}

h3.dailyHeader {
	font-size: 11pt;
	padding-top: 20px;
}
